{% extends 'stock/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <p class="fs-1 fw-bolder lh-base" style="color: #8D3BFD;">ABOUT THIS PROJECT</p>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="card mb-10" style="max-width: 1000px;">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title">Final Project</h4>
                            <h5 class="card-title">IS439 Web Development Using Application Frameworks</h5>
                            <p class="card-text">
                                This project was completed in the spring of 2021, and it means a lot to me. It is my
                                first Django project and my final project in my last semester at U of I. It is a symbol
                                of an end and a new beginning.
                            </p>
                            <br/>
                            <p class="card-text">
                                I chose investment as the topic because I believe "investing money is as important
                                as investing time in learning".
                            </p>
                            <br/>
                            <p class="card-text">
                                Thanks to Mr. Trainor's guidance, I really enjoyed this course.
                            </p>
                            <br/>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

