{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'add_stock' %}" method="POST" class="d-flex">
        {% csrf_token %}
        <input class="form-control me-2" style="width: 15rem" type="search" placeholder="Enter ticker number" aria-label="Search"
               name="ticker">
        <button class="btn btn-outline-light" style="background-color: #8D3BFD;"  type="submit">Track this Stock</button>
    </form>
    <br/>

    <h1>My stock list</h1>

    {% for item in stock_symbol_list %}
        {{ item }} | <a href="{%  url 'delete_stock' item.id %}">Delete Stock</a>
        <br/>
    {% endfor %}

{% endblock %}

